* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
/*  --main-bg-color: #F2E4D8;*/
  --header-footer-color: #A3BBA3;
  --secondary-color: #F6E4E0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header, footer, main {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
header img {
  border-radius: 50%;
}
header{
  display: flex;
  background-color: var(--header-footer-color);
  padding: 1em;
  justify-content: space-evenly;
}
main {
  display: grid;
  grid-template-columns: 30% 70%;
}

h2 {
  background-color: var(--header-footer-color);
  min-width: fit-content;
  max-width: 40%;
}
.about p {
  background-color: var(--secondary-color);
}
.education li {
  
}
.education li:last-of-type {
  margin-bottom: 0px;
}
footer img {
  height: 3em;
  object-fit: contain;
}
footer p {
  font-size: 12px;
}
footer {
  display: flex;
  height: fit-content;
  background-color: var(--header-footer-color);
  justify-content: center;
  align-items: center;
  padding: 1em;
}